__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.build/
build/
dist/
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.nox/
.ruff_cache/
.DS_Store
.vscode/
*.log
.env
.venv/
/tests/fixtures/filesystem/workspace-replay/*.yaml
tests/fixtures/filesystem/workspace-replay/*.yml
