openapi: 3.0.3
info:
  title: Power Platform - Analytics (Advisor Recommendations)
  version: 2022-03-01-preview
  description: 'Advisor Recommendations endpoints: scenarios, actions, schema, resources,
    and execute action.'
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: analytics.recommendations
paths:
  /analytics/advisorRecommendations/scenarios:
    get:
      summary: Get recommendation scenarios
      operationId: Analytics_GetRecommendationScenarios
      tags:
      - analytics.recommendations
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorScenarioArray'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /analytics/advisorRecommendations/{scenario}/actions:
    get:
      summary: Get actions for a scenario
      operationId: Analytics_GetScenarioActions
      tags:
      - analytics.recommendations
      parameters:
      - name: scenario
        in: path
        required: true
        schema:
          type: string
        description: The scenario identifier
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorActionArray'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /analytics/advisorRecommendations/{scenario}/actionmetadata/{actionName}:
    get:
      summary: Get action schema
      operationId: Analytics_GetActionSchema
      tags:
      - analytics.recommendations
      parameters:
      - name: scenario
        in: path
        required: true
        schema:
          type: string
        description: The recommendation scenario
      - name: actionName
        in: path
        required: true
        schema:
          type: string
        description: The action name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
  /analytics/advisorRecommendations/{scenario}/resources:
    get:
      summary: Get resources for a recommendation scenario
      operationId: Analytics_GetRecommendationResources
      tags:
      - analytics.recommendations
      parameters:
      - name: scenario
        in: path
        required: true
        schema:
          type: string
        description: The scenario identifier
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      - name: $top
        in: query
        required: false
        schema:
          type: integer
        description: Page size
      - name: $skiptoken
        in: query
        required: false
        schema:
          type: string
        description: Skip token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /analytics/advisorRecommendations/{scenario}/recommendations:
    get:
      summary: Get recommendations for a scenario
      operationId: Analytics_GetRecommendations
      tags:
      - analytics.recommendations
      parameters:
      - name: scenario
        in: path
        required: true
        schema:
          type: string
        description: The scenario identifier
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /analytics/actions/{actionName}:
    post:
      summary: Execute recommendation action
      operationId: Analytics_ExecuteRecommendationAction
      tags:
      - analytics.recommendations
      parameters:
      - name: actionName
        in: path
        required: true
        schema:
          type: string
        description: The action name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorActionResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvisorActionRequest'
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
    AdvisorScenario:
      type: object
      properties:
        scenario:
          type: string
        scenarioName:
          type: string
    AdvisorScenarioArray:
      type: array
      items:
        $ref: '#/components/schemas/AdvisorScenario'
    AdvisorAction:
      type: object
      properties:
        actionName:
          type: string
        displayName:
          type: string
    AdvisorActionArray:
      type: array
      items:
        $ref: '#/components/schemas/AdvisorAction'
    AdvisorActionRequest:
      type: object
      properties:
        actionParameters:
          type: object
          additionalProperties: true
        scenario:
          type: string
      required:
      - actionParameters
      - scenario
    AdvisorActionResult:
      type: object
      properties:
        actionFinalResult:
          type: string
        error:
          type: string
        errorCode:
          type: string
        resourceId:
          type: string
        statusCode:
          type: integer
    AdvisorActionResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/AdvisorActionResult'
security:
- oauth2Implicit:
  - .default
