openapi: 3.0.3
info:
  title: Power Platform - App Management (Applications)
  version: 2022-03-01-preview
  description: Tenant/environment application package operations.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: appmanagement.applications
paths:
  /appmanagement/applications/tenantApplicationPackages/{packageId}:
    get:
      summary: Get tenant application package
      operationId: AppMgmt_GetTenantApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Tenant-level application package ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: Application package details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
    delete:
      summary: Uninstall tenant application package
      operationId: AppMgmt_UninstallTenantApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Tenant-level application package ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Uninstall request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperation'
          headers:
            Operation-Location:
              description: URL of the long-running uninstall operation.
              schema:
                type: string
            Retry-After:
              description: Suggested polling interval in seconds.
              schema:
                type: integer
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /appmanagement/applications/environments/{environmentId}/applicationPackages/{packageId}:
    get:
      summary: Get environment application package
      operationId: AppMgmt_GetEnvironmentApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Environment-level application package ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: Application package details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
    delete:
      summary: Uninstall environment application package
      operationId: AppMgmt_UninstallEnvironmentApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Environment-level application package ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Uninstall request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperation'
          headers:
            Operation-Location:
              description: URL of the long-running uninstall operation.
              schema:
                type: string
            Retry-After:
              description: Suggested polling interval in seconds.
              schema:
                type: integer
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /appmanagement/applications/installApplicationPackage:
    post:
      summary: Install application package
      operationId: AppMgmt_InstallApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Install request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperation'
          headers:
            Operation-Location:
              description: URL of the long-running install operation.
              schema:
                type: string
            Retry-After:
              description: Suggested polling interval in seconds.
              schema:
                type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallApplicationPackageRequest'
  /appmanagement/applications/installStatuses/{operationId}:
    get:
      summary: Get application package install status
      operationId: AppMgmt_GetApplicationPackageInstallStatus
      tags:
      - appmanagement.applications
      parameters:
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: Operation ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: Operation status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperation'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
  /appmanagement/applicationPackages:
    get:
      summary: List tenant application packages
      operationId: AppMgmt_ListTenantApplicationPackages
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: Application package summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageSummaryListResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /appmanagement/environments/{environmentId}/applicationPackages:
    get:
      summary: List environment application packages
      operationId: AppMgmt_ListEnvironmentApplicationPackages
      tags:
      - appmanagement.applications
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: Application package summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageSummaryListResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /appmanagement/environments/{environmentId}/applicationPackages/{uniqueName}/install:
    post:
      summary: Install application package in environment
      operationId: AppMgmt_InstallApplicationPackageInEnvironment
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: uniqueName
        in: path
        required: true
        schema:
          type: string
        description: uniqueName
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '202':
          description: Install request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperation'
          headers:
            Operation-Location:
              description: URL of the long-running install operation.
              schema:
                type: string
            Retry-After:
              description: Suggested polling interval in seconds.
              schema:
                type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /appmanagement/environments/{environmentId}/applicationPackages/{packageId}:upgrade:
    post:
      summary: Upgrade environment application package
      operationId: AppMgmt_UpgradeEnvironmentApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Application package ID to upgrade
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeApplicationPackageRequest'
      responses:
        '202':
          description: Upgrade request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperation'
          headers:
            Operation-Location:
              description: URL of the long-running upgrade operation.
              schema:
                type: string
            Retry-After:
              description: Suggested polling interval in seconds.
              schema:
                type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /appmanagement/environments/{environmentId}/applicationPackages/{packageId}/operations:
    get:
      summary: List environment application package operations
      operationId: AppMgmt_ListEnvironmentApplicationPackageOperations
      tags:
      - appmanagement.applications
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Application package ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: Application package operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperationListResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /appmanagement/environments/{environmentId}/operations/{operationId}:
    get:
      summary: Get environment application operation status
      operationId: AppMgmt_GetEnvironmentOperationStatus
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: operationId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: Operation status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackageOperation'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
    InstallApplicationPackageRequest:
      type: object
      properties:
        packageId:
          type: string
        environmentId:
          type: string
        parameters:
          type: object
          additionalProperties: true
      required:
      - packageId
      - environmentId
    UpgradeApplicationPackageRequest:
      type: object
      properties:
        targetVersion:
          type: string
          description: Target version to upgrade the package to.
        parameters:
          type: object
          additionalProperties: true
      additionalProperties: false
    ApplicationPackage:
      type: object
      properties:
        id:
          type: string
        packageId:
          type: string
        uniqueName:
          type: string
        displayName:
          type: string
        publisher:
          type: string
        version:
          type: string
        environmentId:
          type: string
        applicationType:
          type: string
        availabilityState:
          type: string
        isManaged:
          type: boolean
        installState:
          type: string
        createdTime:
          type: string
          format: date-time
        lastUpdatedTime:
          type: string
          format: date-time
        properties:
          type: object
          additionalProperties: true
      additionalProperties: false
    ApplicationPackageSummary:
      type: object
      properties:
        packageId:
          type: string
        uniqueName:
          type: string
        displayName:
          type: string
        environmentId:
          type: string
        applicationType:
          type: string
        version:
          type: string
        availabilityState:
          type: string
        installState:
          type: string
        managed:
          type: boolean
      additionalProperties: false
    ApplicationPackageSummaryListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationPackageSummary'
        nextLink:
          type: string
      additionalProperties: false
    ApplicationPackageOperation:
      type: object
      properties:
        operationId:
          type: string
        status:
          type: string
        operationType:
          type: string
        createdTime:
          type: string
          format: date-time
        lastUpdatedTime:
          type: string
          format: date-time
        percentComplete:
          type: number
          format: float
        properties:
          type: object
          additionalProperties: true
      additionalProperties: false
    ApplicationPackageOperationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationPackageOperation'
        nextLink:
          type: string
      additionalProperties: false
security:
- oauth2Implicit:
  - .default
