openapi: 3.0.3
info:
  title: Power Platform - App Management (Applications)
  version: 2022-03-01-preview
  description: Tenant/environment application package operations.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: appmanagement.applications
paths:
  /appmanagement/applications/tenantApplicationPackages/{packageId}:
    get:
      summary: Get tenant application package
      operationId: AppMgmt_GetTenantApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Tenant-level application package ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
        '401':
          description: Unauthorized
  /appmanagement/applications/environments/{environmentId}/applicationPackages/{packageId}:
    get:
      summary: Get environment application package
      operationId: AppMgmt_GetEnvironmentApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        description: Environment-level application package ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
        '401':
          description: Unauthorized
  /appmanagement/applications/installApplicationPackage:
    post:
      summary: Install application package
      operationId: AppMgmt_InstallApplicationPackage
      tags:
      - appmanagement.applications
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallApplicationPackageRequest'
  /appmanagement/applications/installStatuses/{operationId}:
    get:
      summary: Get application package install status
      operationId: AppMgmt_GetApplicationPackageInstallStatus
      tags:
      - appmanagement.applications
      parameters:
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: Operation ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
        '401':
          description: Unauthorized
  /appmanagement/applicationPackages:
    get:
      summary: List tenant application packages
      operationId: AppMgmt_ListTenantApplicationPackages
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /appmanagement/environments/{environmentId}/applicationPackages/{uniqueName}/install:
    post:
      summary: Install application package in environment
      operationId: AppMgmt_InstallApplicationPackageInEnvironment
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: uniqueName
        in: path
        required: true
        schema:
          type: string
        description: uniqueName
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  /appmanagement/environments/{environmentId}/operations/{operationId}:
    get:
      summary: Get environment application operation status
      operationId: AppMgmt_GetEnvironmentOperationStatus
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: operationId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
    InstallApplicationPackageRequest:
      type: object
      properties:
        packageId:
          type: string
        environmentId:
          type: string
        parameters:
          type: object
          additionalProperties: true
      required:
      - packageId
      - environmentId
security:
- oauth2Implicit:
  - .default
