openapi: 3.0.3
info:
  title: Power Platform - Authorization (RBAC)
  version: 2022-03-01-preview
  description: 'Role-based access control: role definitions and assignments.'
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: authorization.rbac
paths:
  /authorization/rbac/roleDefinitions:
    get:
      summary: List role definitions
      operationId: RBAC_ListRoleDefinitions
      tags:
      - authorization.rbac
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /authorization/rbac/roleAssignments:
    get:
      summary: List role assignments
      operationId: RBAC_ListRoleAssignments
      tags:
      - authorization.rbac
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      - name: principalId
        in: query
        required: false
        schema:
          type: string
        description: Filter by principal object ID
      - name: scope
        in: query
        required: false
        schema:
          type: string
        description: Scope filter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    post:
      summary: Create role assignment
      operationId: RBAC_CreateRoleAssignment
      tags:
      - authorization.rbac
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleAssignmentRequest'
  /authorization/rbac/roleAssignments/{assignmentId}:
    delete:
      summary: Delete role assignment
      operationId: RBAC_DeleteRoleAssignment
      tags:
      - authorization.rbac
      parameters:
      - name: assignmentId
        in: path
        required: true
        schema:
          type: string
        description: Role assignment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '401':
          description: Unauthorized
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
    CreateRoleAssignmentRequest:
      type: object
      properties:
        principalId:
          type: string
        roleDefinitionId:
          type: string
        scope:
          type: string
      required:
      - principalId
      - roleDefinitionId
      - scope
security:
- oauth2Implicit:
  - .default
