openapi: 3.0.3
info:
  title: Power Platform Custom Connectors Admin API
  version: 0.3.0
  description: |
    Manage custom connectors via the Power Platform Admin API.
    Supports list, get, create/update from an OpenAPI definition, and delete.
servers:
  - url: https://api.powerplatform.com
tags:
  - name: Custom Connectors
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://api.powerplatform.com/.default: Power Platform API default scope
security:
  - oauth2: [https://api.powerplatform.com/.default]
paths:
  /powerapps/environments/{environmentId}/apis:
    get:
      tags: [Custom Connectors]
      summary: List custom connectors (APIs)
      description: List custom connectors in a given environment with optional paging.
      operationId: connectors_listApis
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string }
        - name: $top
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000 }
        - name: $skiptoken
          in: query
          required: false
          schema: { type: string }
        - name: api-version
          in: query
          required: true
          schema: { type: string, default: 2022-03-01-preview }
      responses:
        "200":
          description: Connector list
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items: { $ref: "#/components/schemas/Connector" }
                  nextLink: { type: string }
  /powerapps/environments/{environmentId}/apis/{apiName}:
    get:
      tags: [Custom Connectors]
      summary: Get connector
      description: Get details of a custom connector by name.
      operationId: connectors_getApi
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string }
        - name: apiName
          in: path
          required: true
          schema: { type: string }
        - name: api-version
          in: query
          required: true
          schema: { type: string, default: 2022-03-01-preview }
      responses:
        "200":
          description: Connector
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Connector" }
    put:
      tags: [Custom Connectors]
      summary: Create or update connector (from OpenAPI)
      description: Create a new custom connector or update an existing one by supplying an OpenAPI definition.
      operationId: connectors_createOrUpdateApi
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string }
        - name: apiName
          in: path
          required: true
          schema: { type: string }
        - name: api-version
          in: query
          required: true
          schema: { type: string, default: 2022-03-01-preview }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, properties]
              properties:
                name: { type: string }
                properties:
                  type: object
                  required: [displayName, apiDefinition]
                  properties:
                    displayName: { type: string }
                    iconBrandColor: { type: string }
                    apiDefinition:
                      type: object
                      required: [format, value]
                      properties:
                        format: { type: string, enum: [swagger, openapi] }
                        value: { type: string, description: "Raw OpenAPI or Swagger text" }
      responses:
        "200": { description: Updated }
        "201": { description: Created }
    delete:
      tags: [Custom Connectors]
      summary: Delete connector
      description: Delete a custom connector by name.
      operationId: connectors_deleteApi
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string }
        - name: apiName
          in: path
          required: true
          schema: { type: string }
        - name: api-version
          in: query
          required: true
          schema: { type: string, default: 2022-03-01-preview }
      responses:
        "204": { description: Deleted }
components:
  schemas:
    Connector:
      type: object
      additionalProperties: true
      properties:
        name: { type: string }
        properties: { type: object, additionalProperties: true }
