openapi: 3.0.3
info:
  title: Power Platform - Connectivity (Connectors)
  version: 2022-03-01-preview
  description: Connector catalog endpoints.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: connectivity.connectors
paths:
  /connectivity/connectors:
    get:
      summary: List connectors
      operationId: Connectivity_ListConnectors
      tags:
      - connectivity.connectors
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      - name: $top
        in: query
        required: false
        schema:
          type: integer
        description: Page size
      - name: $skiptoken
        in: query
        required: false
        schema:
          type: string
        description: Skip token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /connectivity/connectors/{connectorId}:
    get:
      summary: Get connector by ID
      operationId: Connectivity_GetConnectorById
      tags:
      - connectivity.connectors
      parameters:
      - name: connectorId
        in: path
        required: true
        schema:
          type: string
        description: Connector ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
        '401':
          description: Unauthorized
  /connectivity/environments/{environmentId}/connectors:
    get:
      summary: List connectors in an environment
      operationId: Connectivity_ListConnectorsByEnvironment
      parameters:
      - name: $filter
        in: query
        required: false
        schema:
          type: string
        description: Filter expression
      - name: $top
        in: query
        required: false
        schema:
          type: integer
        description: Page size
      - name: $skiptoken
        in: query
        required: false
        schema:
          type: string
        description: Skip token
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /connectivity/environments/{environmentId}/connectors/{connectorId}:
    get:
      summary: Get connector by ID in an environment
      operationId: Connectivity_GetConnectorByIdInEnvironment
      parameters:
      - name: $filter
        in: query
        required: false
        schema:
          type: string
        description: Filter expression
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: connectorId
        in: path
        required: true
        schema:
          type: string
        description: connectorId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /connectivity/environments/{environmentId}/customConnectors:
    get:
      summary: List custom connectors in an environment
      operationId: Connectivity_ListCustomConnectorsByEnvironment
      tags:
      - connectivity.connectors
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment unique name (guid)
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connectors)
      - name: $filter
        in: query
        required: false
        schema:
          type: string
        description: Optional OData filter expression
      - name: $top
        in: query
        required: false
        schema:
          type: integer
        description: Page size
      - name: $skiptoken
        in: query
        required: false
        schema:
          type: string
        description: Continuation token from prior list call
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomConnectorListResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.CustomConnectors.Read.All
    post:
      summary: Create a custom connector in an environment
      operationId: Connectivity_CreateCustomConnector
      tags:
      - connectivity.connectors
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment unique name (guid)
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connectors)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomConnectorDefinition'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomConnectorDefinition'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.CustomConnectors.ReadWrite.All
  /connectivity/environments/{environmentId}/customConnectors/{connectorId}:
    get:
      summary: Get a custom connector by ID
      operationId: Connectivity_GetCustomConnectorById
      tags:
      - connectivity.connectors
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment unique name (guid)
      - name: connectorId
        in: path
        required: true
        schema:
          type: string
        description: Connector logical name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connectors)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomConnectorDefinition'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.CustomConnectors.Read.All
    patch:
      summary: Update a custom connector definition
      operationId: Connectivity_UpdateCustomConnector
      tags:
      - connectivity.connectors
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment unique name (guid)
      - name: connectorId
        in: path
        required: true
        schema:
          type: string
        description: Connector logical name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connectors)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomConnectorUpdate'
      responses:
        '200':
          description: Updated definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomConnectorDefinition'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '412':
          description: Precondition failed
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.CustomConnectors.ReadWrite.All
    delete:
      summary: Delete a custom connector
      operationId: Connectivity_DeleteCustomConnector
      tags:
      - connectivity.connectors
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment unique name (guid)
      - name: connectorId
        in: path
        required: true
        schema:
          type: string
        description: Connector logical name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connectors)
      responses:
        '202':
          description: Accepted for deletion
        '204':
          description: Deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.CustomConnectors.ReadWrite.All
  /connectivity/environments/{environmentId}/customConnectors/{connectorId}:validate:
    post:
      summary: Validate a custom connector definition
      operationId: Connectivity_ValidateCustomConnector
      tags:
      - connectivity.connectors
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment unique name (guid)
      - name: connectorId
        in: path
        required: true
        schema:
          type: string
        description: Connector logical name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connectors)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomConnectorDefinition'
      responses:
        '200':
          description: Validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.CustomConnectors.ReadWrite.All
  /connectivity/environments/{environmentId}/customConnectors/{connectorId}/runtimeStatus:
    get:
      summary: Get runtime status for a custom connector
      operationId: Connectivity_GetCustomConnectorRuntimeStatus
      tags:
      - connectivity.connectors
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment unique name (guid)
      - name: connectorId
        in: path
        required: true
        schema:
          type: string
        description: Connector logical name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connectors)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorRuntimeStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.CustomConnectors.Read.All
  /connectivity/policyTemplates:
    get:
      summary: List available policy templates
      operationId: Connectivity_ListPolicyTemplates
      tags:
      - connectivity.connectors
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connector policy operations)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/PolicyTemplate'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.Policy.Read.All
  /connectivity/policyTemplates/{policyTemplateId}:
    get:
      summary: Get policy template by ID
      operationId: Connectivity_GetPolicyTemplateById
      tags:
      - connectivity.connectors
      parameters:
      - name: policyTemplateId
        in: path
        required: true
        schema:
          type: string
        description: Policy template identifier
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (use 2022-03-01-preview for custom connector policy operations)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyTemplate'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - oauth2Implicit:
        - .default
        - Connectivity.Policy.Read.All
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: Default scope for legacy connector catalog operations
            Connectivity.CustomConnectors.Read.All: Read custom connector metadata
            Connectivity.CustomConnectors.ReadWrite.All: Create, update, or delete custom connectors
            Connectivity.Policy.Read.All: Read custom connector policy templates
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
    CustomConnectorDefinition:
      type: object
      required:
      - name
      - properties
      properties:
        id:
          type: string
          description: Unique identifier of the custom connector resource
        name:
          type: string
          description: Resource name including environment scope
        type:
          type: string
          description: ARM-style resource type
        location:
          type: string
          description: Azure region hosting the custom connector
        properties:
          $ref: '#/components/schemas/CustomConnectorProperties'
      additionalProperties: false
    CustomConnectorProperties:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
        iconUri:
          type: string
          format: uri
        backendService:
          type: object
          description: Definition of the backend service for the connector
          additionalProperties: true
        apiDefinition:
          type: object
          description: Swagger/OpenAPI metadata describing operations
          additionalProperties: true
        apiProperties:
          type: object
          additionalProperties: true
        policyTemplateInstances:
          type: array
          items:
            $ref: '#/components/schemas/PolicyTemplateInstance'
        runtimeUrls:
          type: array
          items:
            type: string
            format: uri
        validationState:
          type: string
          description: Last validation state recorded for the connector
      additionalProperties: true
    CustomConnectorUpdate:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/CustomConnectorProperties'
      additionalProperties: false
    CustomConnectorListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/CustomConnectorDefinition'
        nextLink:
          type: string
          format: uri
      additionalProperties: false
    PolicyTemplate:
      type: object
      required:
      - name
      properties:
        id:
          type: string
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        category:
          type: string
        definition:
          $ref: '#/components/schemas/PolicyRuleSet'
      additionalProperties: true
    PolicyRuleSet:
      type: object
      required:
      - rules
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/PolicyRule'
        version:
          type: string
      additionalProperties: true
    PolicyTemplateInstance:
      type: object
      required:
      - policyTemplateId
      properties:
        policyTemplateId:
          type: string
          description: Identifier of the policy template being applied
        title:
          type: string
          description: Optional display name for the template instance in the connector definition
        parameters:
          type: object
          description: Values supplied for template parameters keyed by parameter name
          additionalProperties: true
      additionalProperties: true
    PolicyRule:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
      additionalProperties: true
    ValidationResponse:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          description: Overall validation status (e.g., Succeeded, Failed)
        issues:
          type: array
          items:
            $ref: '#/components/schemas/ValidationIssue'
        lastRun:
          type: string
          format: date-time
      additionalProperties: false
    ValidationIssue:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        severity:
          type: string
      additionalProperties: false
    ConnectorRuntimeStatus:
      type: object
      properties:
        availabilityState:
          type: string
          description: Current health state of the connector runtime
        lastHeartbeat:
          type: string
          format: date-time
        details:
          type: object
          additionalProperties: true
      additionalProperties: false
security:
- oauth2Implicit:
  - .default
