openapi: 3.0.3
info:
  title: Power Platform - Environment Management
  version: 2022-03-01-preview
  description: Environments, environment groups, operations, managed environments,
    and settings.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: environmentmanagement.environments
- name: environmentmanagement.environmentGroups
- name: environmentmanagement.operations
- name: environmentmanagement.managedGovernance
- name: environmentmanagement.settings
paths:
  /environmentmanagement/environments:
    get:
      summary: List environments for user
      operationId: Env_ListEnvironmentsForUser
      tags:
      - environmentmanagement.environments
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      - name: $top
        in: query
        required: false
        schema:
          type: integer
        description: Page size
      - name: $skiptoken
        in: query
        required: false
        schema:
          type: string
        description: Skip token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
  /environmentmanagement/environments/{environmentId}:
    get:
      summary: Get environment by ID for user
      operationId: Env_GetEnvironmentByIdForUser
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
    delete:
      summary: Delete environment by ID
      operationId: Env_DeleteEnvironmentById
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '404':
          description: Not Found
  /environmentmanagement/environments/{environmentId}/operations:
    get:
      summary: List operations for environment
      operationId: Env_ListOperationsForEnvironment
      tags:
      - environmentmanagement.operations
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /environmentmanagement/operations/{operationId}:
    get:
      summary: Get operation by ID
      operationId: Env_GetOperationById
      tags:
      - environmentmanagement.operations
      parameters:
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: Operation ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /environmentmanagement/environmentGroups:
    get:
      summary: List environment groups
      operationId: EnvGroups_ListEnvironmentGroups
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Create environment group
      operationId: EnvGroups_CreateEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /environmentmanagement/environmentGroups/{environmentGroupId}:
    get:
      summary: Get environment group
      operationId: EnvGroups_GetEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
    delete:
      summary: Delete environment group
      operationId: EnvGroups_DeleteEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '404':
          description: Not Found
    patch:
      summary: Update environment group
      operationId: EnvGroups_UpdateEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /environmentmanagement/environmentGroups/{environmentGroupId}/environments/{environmentId}/apply:
    post:
      summary: Add environment to group (apply)
      operationId: EnvGroups_AddEnvironmentToGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /environmentmanagement/environmentGroups/{environmentGroupId}/environments/{environmentId}/revoke:
    post:
      summary: Remove environment from group (revoke)
      operationId: EnvGroups_RemoveEnvironmentFromGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /environmentmanagement/environmentGroups/{environmentGroupId}/operations/{operationId}:
    get:
      summary: Get environment group operation
      operationId: EnvGroups_GetEnvironmentGroupOperation
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: Operation ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /environmentmanagement/environments/{environmentId}/managedGovernance/enable:
    post:
      summary: Enable managed environment
      operationId: ManagedGov_EnableManagedEnvironment
      tags:
      - environmentmanagement.managedGovernance
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '409':
          description: Conflict
        '400':
          description: Bad Request
  /environmentmanagement/environments/{environmentId}/managedGovernance/disable:
    post:
      summary: Disable managed environment
      operationId: ManagedGov_DisableManagedEnvironment
      tags:
      - environmentmanagement.managedGovernance
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '409':
          description: Conflict
        '400':
          description: Bad Request
  /environmentmanagement/environments/{environmentId}/managementSettings:
    get:
      summary: List environment management settings
      operationId: EnvSettings_ListEnvironmentManagementSettings
      tags:
      - environmentmanagement.settings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Create environment management settings
      operationId: EnvSettings_CreateEnvironmentManagementSettings
      tags:
      - environmentmanagement.settings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /environmentmanagement/environments/{environmentId}/managementSettings/{settingName}:
    patch:
      summary: Update environment management settings
      operationId: EnvSettings_UpdateEnvironmentManagementSettings
      tags:
      - environmentmanagement.settings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: settingName
        in: path
        required: true
        schema:
          type: string
        description: Setting name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
security:
- oauth2Implicit:
  - .default
