openapi: 3.0.3
info:
  title: Power Platform - Environment Management
  version: 2022-03-01-preview
  description: Environments, environment groups, operations, managed environments,
    and settings.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: environmentmanagement.environments
- name: environmentmanagement.environmentGroups
- name: environmentmanagement.operations
- name: environmentmanagement.managedGovernance
- name: environmentmanagement.settings
paths:
  /environmentmanagement/environments:
    get:
      summary: List environments for user
      operationId: Env_ListEnvironmentsForUser
      tags:
      - environmentmanagement.environments
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      - name: $top
        in: query
        required: false
        schema:
          type: integer
        description: Page size
      - name: $skiptoken
        in: query
        required: false
        schema:
          type: string
        description: Skip token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
    post:
      summary: Provision a new environment
      description: Create a new Power Platform environment.
      operationId: Env_ProvisionEnvironment
      tags:
      - environmentmanagement.environments
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentCreateRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLifecycleOperationResponse'
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
        '409':
          description: Conflict
  /environmentmanagement/environments/{environmentId}:
    get:
      summary: Get environment by ID for user
      operationId: Env_GetEnvironmentByIdForUser
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
    delete:
      summary: Delete environment by ID
      operationId: Env_DeleteEnvironmentById
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      - name: ValidateOnly
        in: query
        required: false
        schema:
          type: boolean
        description: Validate the delete without executing
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '404':
          description: Not Found
  /environmentmanagement/environments/{environmentId}:copy:
    post:
      summary: Copy environment
      description: Copy an existing environment into a new target environment.
      operationId: Env_CopyEnvironment
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Source environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentCopyRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLifecycleOperationResponse'
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
  /environmentmanagement/environments/{environmentId}:reset:
    post:
      summary: Reset environment
      description: Reset an existing environment to a previous state.
      operationId: Env_ResetEnvironment
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentResetRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLifecycleOperationResponse'
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
  /environmentmanagement/environments/{environmentId}:backup:
    post:
      summary: Backup environment
      description: Create a manual backup for an environment.
      operationId: Env_BackupEnvironment
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentBackupRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLifecycleOperationResponse'
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
  /environmentmanagement/environments/{environmentId}:restore:
    post:
      summary: Restore environment
      description: Restore an environment from a backup.
      operationId: Env_RestoreEnvironment
      tags:
      - environmentmanagement.environments
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentRestoreRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLifecycleOperationResponse'
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
  /environmentmanagement/environments/{environmentId}/operations:
    get:
      summary: List operations for environment
      operationId: Env_ListOperationsForEnvironment
      tags:
      - environmentmanagement.operations
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /environmentmanagement/operations/{operationId}:
    get:
      summary: Get operation by ID
      operationId: Env_GetOperationById
      tags:
      - environmentmanagement.operations
      parameters:
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: Operation ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /environmentmanagement/environmentGroups:
    get:
      summary: List environment groups
      operationId: EnvGroups_ListEnvironmentGroups
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Create environment group
      operationId: EnvGroups_CreateEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /environmentmanagement/environmentGroups/{environmentGroupId}:
    get:
      summary: Get environment group
      operationId: EnvGroups_GetEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
    delete:
      summary: Delete environment group
      operationId: EnvGroups_DeleteEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '404':
          description: Not Found
    patch:
      summary: Update environment group
      operationId: EnvGroups_UpdateEnvironmentGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /environmentmanagement/environmentGroups/{environmentGroupId}/environments/{environmentId}/apply:
    post:
      summary: Add environment to group (apply)
      operationId: EnvGroups_AddEnvironmentToGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /environmentmanagement/environmentGroups/{environmentGroupId}/environments/{environmentId}/revoke:
    post:
      summary: Remove environment from group (revoke)
      operationId: EnvGroups_RemoveEnvironmentFromGroup
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /environmentmanagement/environmentGroups/{environmentGroupId}/operations/{operationId}:
    get:
      summary: Get environment group operation
      operationId: EnvGroups_GetEnvironmentGroupOperation
      tags:
      - environmentmanagement.environmentGroups
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: Operation ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /environmentmanagement/environments/{environmentId}/managedGovernance/enable:
    post:
      summary: Enable managed environment
      operationId: ManagedGov_EnableManagedEnvironment
      tags:
      - environmentmanagement.managedGovernance
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '409':
          description: Conflict
        '400':
          description: Bad Request
  /environmentmanagement/environments/{environmentId}/managedGovernance/disable:
    post:
      summary: Disable managed environment
      operationId: ManagedGov_DisableManagedEnvironment
      tags:
      - environmentmanagement.managedGovernance
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
        '409':
          description: Conflict
        '400':
          description: Bad Request
  /environmentmanagement/environments/{environmentId}/managementSettings:
    get:
      summary: List environment management settings
      operationId: EnvSettings_ListEnvironmentManagementSettings
      tags:
      - environmentmanagement.settings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Create environment management settings
      operationId: EnvSettings_CreateEnvironmentManagementSettings
      tags:
      - environmentmanagement.settings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /environmentmanagement/environments/{environmentId}/managementSettings/{settingName}:
    patch:
      summary: Update environment management settings
      operationId: EnvSettings_UpdateEnvironmentManagementSettings
      tags:
      - environmentmanagement.settings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: settingName
        in: path
        required: true
        schema:
          type: string
        description: Setting name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /environmentmanagement/environments/{environmentId}/settings:
    post:
      summary: Create environment management settings
      operationId: EnvSettings_CreateSettings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    get:
      summary: Get environment management settings
      operationId: EnvSettings_GetSettings
      parameters:
      - name: $top
        in: query
        required: false
        schema:
          type: integer
        description: Page size
      - name: $select
        in: query
        required: false
        schema:
          type: string
        description: Select fields
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    patch:
      summary: Update environment management settings
      operationId: EnvSettings_UpdateSettings
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /environmentmanagement/environmentGroups/{groupId}/addEnvironment/{environmentId}:
    post:
      summary: Add environment to group (legacy path)
      operationId: EnvGroups_AddEnvironment_Legacy
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: groupId
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /environmentmanagement/environmentGroups/{groupId}/removeEnvironment/{environmentId}:
    post:
      summary: Remove environment from group (legacy path)
      operationId: EnvGroups_RemoveEnvironment_Legacy
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: groupId
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: environmentId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /environmentmanagement/environmentGroupOperations/{operationId}:
    get:
      summary: Get environment group operation status (legacy endpoint)
      operationId: EnvGroups_GetGroupOperationStatus
      parameters:
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: operationId
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version (e.g., 2022-03-01-preview)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    EnvironmentBackupRequest:
      type: object
      required:
      - label
      properties:
        label:
          type: string
          description: Friendly name for the backup.
        description:
          type: string
          description: Optional description for the backup.
        isManual:
          type: boolean
          description: Indicates whether the backup was manually triggered.
        retentionDays:
          type: integer
          description: Number of days to retain the backup.
        timeZone:
          type: string
          description: Time zone identifier used when capturing the backup metadata.
      additionalProperties: true
    EnvironmentCopyRequest:
      type: object
      required:
      - targetEnvironmentName
      - targetEnvironmentRegion
      properties:
        targetEnvironmentName:
          type: string
          description: Display name for the copied environment.
        targetEnvironmentRegion:
          type: string
          description: Azure region for the new environment.
        targetEnvironmentSku:
          type: string
          description: SKU for the new environment (for example, Sandbox or Production).
        copyType:
          type: string
          description: Copy operation type (such as Full or Minimal copy).
        includeAuditData:
          type: boolean
          description: Whether to include audit data in the copy.
        includeFlowHistory:
          type: boolean
          description: Whether to include Power Automate flow history.
        overrideExistingEnvironment:
          type: boolean
          description: Allows overwriting an existing target environment when supported.
        securityGroupId:
          type: string
          format: uuid
          description: Azure AD security group that will manage the environment.
        targetEnvironmentId:
          type: string
          format: uuid
          description: Identifier for an existing environment to overwrite when allowed.
        notes:
          type: string
          description: Additional notes recorded for the copy.
      additionalProperties: true
    EnvironmentCreateRequest:
      type: object
      required:
      - displayName
      - region
      - environmentSku
      properties:
        displayName:
          type: string
          description: Display name for the environment.
        description:
          type: string
          description: Optional description for administrators.
        region:
          type: string
          description: Azure region for the environment (for example, unitedstates).
        environmentSku:
          type: string
          description: SKU of the environment (Developer, Sandbox, Production, and so on).
        environmentType:
          type: string
          description: Deployment type (Production, Trial, Sandbox, Developer).
        domainName:
          type: string
          description: Desired environment domain prefix.
        securityGroupId:
          type: string
          format: uuid
          description: Azure AD security group to restrict access to the environment.
        tenantId:
          type: string
          format: uuid
          description: Tenant identifier when provisioning across tenants.
        azureSubscriptionId:
          type: string
          format: uuid
          description: Azure subscription used for pay-as-you-go environments.
        billingPolicyId:
          type: string
          format: uuid
          description: Billing policy to associate with the environment.
        dataLakeStorageAccountLocation:
          type: string
          description: Region of the linked Dataverse data lake storage account.
        dataLakeStorageAccountName:
          type: string
          description: Name of the linked Dataverse data lake storage account.
        additionalSettings:
          type: object
          description: Additional provisioning settings passed through to the platform.
          additionalProperties: true
      additionalProperties: true
    EnvironmentLifecycleOperationResponse:
      type: object
      properties:
        operationId:
          type: string
          description: Identifier of the operation tracking resource.
        status:
          type: string
          description: Current status of the long-running operation.
        resourceLocation:
          type: string
          description: URL of the environment resource once the operation completes.
        createdDateTime:
          type: string
          format: date-time
          description: Timestamp when the operation was created.
        lastUpdatedDateTime:
          type: string
          format: date-time
          description: Timestamp for the last status update.
      additionalProperties: true
    EnvironmentResetRequest:
      type: object
      required:
      - resetType
      properties:
        resetType:
          type: string
          description: Type of reset to perform (for example, Soft or Hard reset).
        targetEnvironmentId:
          type: string
          format: uuid
          description: Identifier of the target environment when restoring to another environment.
        backupId:
          type: string
          format: uuid
          description: Identifier of the backup used for the reset when applicable.
        notes:
          type: string
          description: Additional context about the reset operation.
        skipEmailNotification:
          type: boolean
          description: When true, suppresses notification emails for the reset.
      additionalProperties: true
    EnvironmentRestoreRequest:
      type: object
      required:
      - backupId
      properties:
        backupId:
          type: string
          format: uuid
          description: Identifier of the backup that will be restored.
        targetEnvironmentId:
          type: string
          format: uuid
          description: Identifier of the target environment for the restore.
        targetEnvironmentRegion:
          type: string
          description: Region for the restored environment when creating a new one.
        restoreReason:
          type: string
          description: Reason the restore was requested.
        notes:
          type: string
          description: Additional notes about the restore operation.
        skipAuditData:
          type: boolean
          description: When true, excludes audit data from the restore.
      additionalProperties: true
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
security:
- oauth2Implicit:
  - .default
