openapi: 3.0.3
info:
  title: Power Platform - Governance
  version: 2022-03-01-preview
  description: Cross-tenant connection reports and rule-based policies.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: governance.crossTenantConnectionReports
- name: governance.ruleBasedPolicies
paths:
  /governance/crossTenantConnectionReports:
    post:
      summary: Create cross-tenant connection report
      operationId: Gov_CreateCrossTenantConnectionReport
      tags:
      - governance.crossTenantConnectionReports
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    get:
      summary: List cross-tenant connection reports
      operationId: Gov_ListCrossTenantConnectionReports
      tags:
      - governance.crossTenantConnectionReports
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /governance/crossTenantConnectionReports/{reportId}:
    get:
      summary: Get cross-tenant connection report
      operationId: Gov_GetCrossTenantConnectionReport
      tags:
      - governance.crossTenantConnectionReports
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
        description: Report ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
  /governance/ruleBasedPolicies:
    post:
      summary: Create rule-based policy
      operationId: Gov_CreateRuleBasedPolicy
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    get:
      summary: List rule-based policies
      operationId: Gov_ListRuleBasedPolicies
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /governance/ruleBasedPolicies/{policyId}:
    get:
      summary: Get rule-based policy by ID
      operationId: Gov_GetRuleBasedPolicyById
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
    patch:
      summary: Update rule-based policy by ID
      operationId: Gov_UpdateRuleBasedPolicyById
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /governance/ruleBasedPolicies/{policyId}/assignments/environmentGroups/{environmentGroupId}:
    post:
      summary: Create environment group rule-based assignment
      operationId: Gov_CreateEnvGroupRuleBasedAssignment
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Policy ID
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
  /governance/ruleBasedPolicies/{policyId}/assignments/environments/{environmentId}:
    post:
      summary: Create environment rule-based assignment
      operationId: Gov_CreateEnvironmentRuleBasedAssignment
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Policy ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
  /governance/ruleBasedPolicies/{policyId}/assignments:
    get:
      summary: List rule assignments by policy ID
      operationId: Gov_ListAssignmentsByPolicyId
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /governance/ruleBasedPolicies/assignments:
    get:
      summary: List rule assignments
      operationId: Gov_ListRuleAssignments
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      - name: environmentId
        in: query
        required: false
        schema:
          type: string
        description: Filter by environment ID
      - name: environmentGroupId
        in: query
        required: false
        schema:
          type: string
        description: Filter by environment group ID
      - name: policyId
        in: query
        required: false
        schema:
          type: string
        description: Filter by policy ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /governance/ruleBasedPolicies/assignments/byEnvironmentGroup/{environmentGroupId}:
    get:
      summary: List rule assignments by environment group ID
      operationId: Gov_ListAssignmentsByEnvironmentGroupId
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: environmentGroupId
        in: path
        required: true
        schema:
          type: string
        description: Environment Group ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /governance/ruleBasedPolicies/assignments/byEnvironment/{environmentId}:
    get:
      summary: List rule assignments by environment ID
      operationId: Gov_ListAssignmentsByEnvironmentId
      tags:
      - governance.ruleBasedPolicies
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
security:
- oauth2Implicit:
  - .default
