openapi: 3.0.3
info:
  title: Power Platform - Licensing
  version: 2022-03-01-preview
  description: Billing policy, environments, currency allocation, contracts, storage
    warnings, capacity, temp currency entitlement.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: licensing.billingPolicy
- name: licensing.billingPolicyEnvironment
- name: licensing.currencyAllocation
- name: licensing.currencyReports
- name: licensing.environmentBillingPolicy
- name: licensing.isvContract
- name: licensing.storageWarnings
- name: licensing.temporaryCurrencyEntitlement
- name: licensing.tenantCapacityDetails
paths:
  /licensing/billingPolicies:
    post:
      summary: Create billing policy
      operationId: Lic_CreateBillingPolicy
      tags:
      - licensing.billingPolicy
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    get:
      summary: List billing policies
      operationId: Lic_ListBillingPolicies
      tags:
      - licensing.billingPolicy
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/billingPolicies/{policyId}:
    get:
      summary: Get billing policy
      operationId: Lic_GetBillingPolicy
      tags:
      - licensing.billingPolicy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
    patch:
      summary: Update billing policy
      operationId: Lic_UpdateBillingPolicy
      tags:
      - licensing.billingPolicy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    delete:
      summary: Delete billing policy
      operationId: Lic_DeleteBillingPolicy
      tags:
      - licensing.billingPolicy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '204':
          description: No Content
  /licensing/billingPolicies/{policyId}:refreshProvisioningStatus:
    post:
      summary: Refresh provisioning status
      operationId: Lic_RefreshProvisioningStatus
      tags:
      - licensing.billingPolicy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
  /licensing/billingPolicies/{policyId}/environments/{environmentId}:
    post:
      summary: Add billing policy environment
      operationId: Lic_AddBillingPolicyEnvironment
      tags:
      - licensing.billingPolicyEnvironment
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '204':
          description: No Content
    delete:
      summary: Remove billing policy environment
      operationId: Lic_RemoveBillingPolicyEnvironment
      tags:
      - licensing.billingPolicyEnvironment
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '204':
          description: No Content
    get:
      summary: Get billing policy environment
      operationId: Lic_GetBillingPolicyEnvironment
      tags:
      - licensing.billingPolicyEnvironment
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/billingPolicies/{policyId}/environments:
    get:
      summary: List billing policy environments
      operationId: Lic_ListBillingPolicyEnvironments
      tags:
      - licensing.billingPolicyEnvironment
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
        description: Billing Policy ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/environments/{environmentId}/currencyAllocation:
    get:
      summary: Get currency allocation by environment
      operationId: Lic_GetCurrencyAllocationByEnvironment
      tags:
      - licensing.currencyAllocation
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    patch:
      summary: Patch currency allocation by environment
      operationId: Lic_PatchCurrencyAllocationByEnvironment
      tags:
      - licensing.currencyAllocation
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /licensing/currencyReports:
    get:
      summary: List currency reports
      operationId: Lic_ListCurrencyReports
      tags:
      - licensing.currencyReports
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/environments/{environmentId}/billingPolicies/default:
    get:
      summary: Get environment billing policy
      operationId: Lic_GetEnvironmentBillingPolicy
      tags:
      - licensing.environmentBillingPolicy
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
        description: Environment ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/isvContracts:
    post:
      summary: Create ISV contract
      operationId: Lic_CreateIsvContract
      tags:
      - licensing.isvContract
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    get:
      summary: List ISV contracts
      operationId: Lic_ListIsvContracts
      tags:
      - licensing.isvContract
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/isvContracts/{contractId}:
    get:
      summary: Get ISV contract
      operationId: Lic_GetIsvContract
      tags:
      - licensing.isvContract
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
        description: Contract ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
    patch:
      summary: Update ISV contract
      operationId: Lic_UpdateIsvContract
      tags:
      - licensing.isvContract
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
        description: Contract ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    delete:
      summary: Delete ISV contract
      operationId: Lic_DeleteIsvContract
      tags:
      - licensing.isvContract
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
        description: Contract ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '204':
          description: No Content
  /licensing/storageWarnings/{category}:
    get:
      summary: Get storage warning by category
      operationId: Lic_GetStorageWarningByCategory
      tags:
      - licensing.storageWarnings
      parameters:
      - name: category
        in: path
        required: true
        schema:
          type: string
        description: Warning category
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/storageWarnings/{category}/{entity}:
    get:
      summary: Get storage warning by category and entity
      operationId: Lic_GetStorageWarningByCategoryAndEntity
      tags:
      - licensing.storageWarnings
      parameters:
      - name: category
        in: path
        required: true
        schema:
          type: string
        description: Warning category
      - name: entity
        in: path
        required: true
        schema:
          type: string
        description: Entity name
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/storageWarnings:
    get:
      summary: List storage warnings
      operationId: Lic_ListStorageWarnings
      tags:
      - licensing.storageWarnings
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/temporaryCurrencyEntitlement/count:
    get:
      summary: Retrieve temporary currency entitlement count
      operationId: Lic_RetrieveTemporaryCurrencyEntitlementCount
      tags:
      - licensing.temporaryCurrencyEntitlement
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /licensing/tenantCapacityDetails:
    get:
      summary: Get tenant capacity details
      operationId: Lic_GetTenantCapacityDetails
      tags:
      - licensing.tenantCapacityDetails
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
security:
- oauth2Implicit:
  - .default
