openapi: 3.0.3
info:
  title: Power Platform Admin (Consolidated)
  version: 0.4.0
  description: |
    Consolidated admin surface for Power Platform: Environment Management, Power Apps, Power Automate, and Power Pages.
    Power Pages includes WAF management, security scans, IP allow-list, site visibility, Bootstrap v5 toggle,
    and data model version endpoints. Long-running operations return 202 with Operation-Location where applicable.
servers:
  - url: https://api.powerplatform.com
tags:
  - name: Environment Management
  - name: Power Apps (Admin)
  - name: Power Automate (Admin)
  - name: Power Pages (Admin)
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://api.powerplatform.com/.default: Power Platform API default scope
security:
  - oauth2: [https://api.powerplatform.com/.default]
paths:
  /environmentmanagement/environments:
    get:
      tags: [Environment Management]
      summary: List environments
      operationId: ppAdmin_listEnvironments
      parameters:
        - name: api-version
          in: query
          required: true
          schema: { type: string, enum: ["2022-03-01-preview"] }
      responses:
        "200":
          description: Environments
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items: 
                      type: object
                  nextLink: { type: string }
  /powerapps/environments/{environmentId}/apps:
    get:
      tags: [Power Apps (Admin)]
      summary: List apps
      operationId: ppAdmin_listApps
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string }
        - name: $top
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000 }
        - name: $skiptoken
          in: query
          required: false
          schema: { type: string }
        - name: api-version
          in: query
          required: true
          schema: { type: string, default: 2022-03-01-preview }
      responses:
        "200":
          description: Apps
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items: { type: object }
                  nextLink: { type: string }
  # Power Pages subset (unchanged from r4 but kept here for consolidation)
  /powerpages/environments/{environmentId}/websites/{id}/enableWaf:
    post:
      tags: [Power Pages (Admin)]
      summary: Enable WAF
      operationId: ppAdmin_enableWaf
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: api-version
          in: query
          required: true
          schema: { type: string, enum: ["2022-03-01-preview"] }
      responses:
        "202":
          description: Accepted - long running
          headers:
            Operation-Location:
              schema: { type: string, format: uri }
  /powerpages/environments/{environmentId}/websites/{id}/createWafRules:
    put:
      tags: [Power Pages (Admin)]
      summary: Create WAF rules
      operationId: ppAdmin_createWafRules
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: api-version
          in: query
          required: true
          schema: { type: string, enum: ["2022-03-01-preview"] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "202":
          description: Accepted - long running
          headers:
            Operation-Location:
              schema: { type: string, format: uri }
