
openapi: 3.0.3
info:
  title: Power Pages Admin (via Power Platform API)
  version: "2022-03-01-preview"
  description: |
    Administrative endpoints for managing Power Pages websites using the Power Platform API.
    This file includes commonly used operations (list, get, start/stop/restart, create, delete).
servers:
  - url: https://api.powerplatform.com
paths:
  /powerpages/environments/{environmentId}/websites:
    get:
      summary: Get Websites
      description: List Power Pages websites in an environment.
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: {type: string}
        - name: api-version
          in: query
          required: true
          schema: {type: string, enum: ["2022-03-01-preview"]}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebsiteDto"
    post:
      summary: Create Website
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: {type: string}
        - name: api-version
          in: query
          required: true
          schema: {type: string, enum: ["2022-03-01-preview"]}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: {type: string}
                subdomain: {type: string}
                templateName: {type: string}
              required: [name, subdomain]
      responses:
        "202":
          description: Accepted - creation in progress
  /powerpages/environments/{environmentId}/websites/{id}:
    get:
      summary: Get Website by ID
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: {type: string}
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: api-version
          in: query
          required: true
          schema: {type: string, enum: ["2022-03-01-preview"]}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsiteDto"
    delete:
      summary: Delete Website
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: {type: string}
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: api-version
          in: query
          required: true
          schema: {type: string, enum: ["2022-03-01-preview"]}
      responses:
        "202":
          description: Accepted - deletion scheduled
  /powerpages/environments/{environmentId}/websites/{id}/start:
    post:
      summary: Start Website
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: {type: string}
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: api-version
          in: query
          required: true
          schema: {type: string, enum: ["2022-03-01-preview"]}
      responses:
        "200":
          description: Started
  /powerpages/environments/{environmentId}/websites/{id}/stop:
    post:
      summary: Stop Website
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: {type: string}
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: api-version
          in: query
          required: true
          schema: {type: string, enum: ["2022-03-01-preview"]}
      responses:
        "200":
          description: Stopped
  /powerpages/environments/{environmentId}/websites/{id}/restart:
    post:
      summary: Restart Website
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: {type: string}
        - name: id
          in: path
          required: true
          schema: {type: string}
        - name: api-version
          in: query
          required: true
          schema: {type: string, enum: ["2022-03-01-preview"]}
      responses:
        "200":
          description: Restarted
components:
  schemas:
    WebsiteDto:
      type: object
      properties:
        id: {type: string}
        name: {type: string}
        environmentId: {type: string}
        environmentName: {type: string}
        websiteUrl: {type: string}
        subdomain: {type: string}
        status: {type: string}
        siteVisibility: {type: string}
        applicationUserAadAppId: {type: string}
        templateName: {type: string}
        dataverseInstanceUrl: {type: string}
        dataverseOrganizationId: {type: string}
        websiteRecordId: {type: string}
