openapi: 3.0.3
info:
  title: Power Platform - User Management
  version: 2022-03-01-preview
  description: Apply admin role.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: usermanagement.users
paths:
  /usermanagement/users/{userId}:applyAdminRole:
    post:
      summary: Apply admin role
      operationId: UserMgmt_ApplyAdminRole
      tags:
      - usermanagement.users
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User object ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
security:
- oauth2Implicit:
  - .default
