openapi: 3.0.3
info:
  title: Power Platform - User Management
  version: 2022-03-01-preview
  description: Apply admin role.
  contact:
    name: Microsoft Power Platform APIs
    url: https://learn.microsoft.com/en-us/rest/api/power-platform/
servers:
- url: https://api.powerplatform.com
tags:
- name: usermanagement.users
paths:
  /usermanagement/users/{userId}:applyAdminRole:
    post:
      summary: Apply admin role
      operationId: UserMgmt_ApplyAdminRole
      tags:
      - usermanagement.users
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User object ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
  /usermanagement/users/{userId}:removeAdminRole:
    post:
      summary: Remove admin role
      operationId: UserMgmt_RemoveAdminRole
      tags:
      - usermanagement.users
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User object ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveAdminRoleRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
          headers:
            Operation-Location:
              description: URL of the long-running operation.
              schema:
                type: string
  /usermanagement/users/{userId}/adminRoles:
    get:
      summary: List admin roles for user
      operationId: UserMgmt_ListAdminRoles
      tags:
      - usermanagement.users
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User object ID
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRoleAssignmentList'
  /usermanagement/operations/{operationId}:
    get:
      summary: Get user management operation status
      operationId: UserMgmt_GetOperation
      tags:
      - usermanagement.operations
      parameters:
      - name: operationId
        in: path
        required: true
        schema:
          type: string
        description: Operation ID returned by role management requests
      - name: api-version
        in: query
        required: true
        schema:
          type: string
        description: API version
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
components:
  securitySchemes:
    oauth2Implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize?resource=https://api.powerplatform.com
          scopes:
            .default: .default
  schemas:
    AdminRoleAssignment:
      type: object
      description: Details about an admin role assignment for a specific user.
      properties:
        id:
          type: string
          description: Unique identifier of the role assignment record.
        userId:
          type: string
          description: Azure AD object ID of the assigned user.
        roleDefinitionId:
          type: string
          description: Identifier of the admin role definition.
        roleDisplayName:
          type: string
          description: Display name of the applied admin role.
        scope:
          type: string
          description: Scope at which the admin role applies (tenant, environment, etc.).
        assignedBy:
          type: string
          description: Object ID of the administrator who initiated the role change.
        assignedDateTime:
          type: string
          format: date-time
          description: Timestamp when the role assignment became effective.
        removalDateTime:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the role assignment was removed, if applicable.
      additionalProperties: false
    AdminRoleAssignmentList:
      type: object
      description: Paged collection of admin role assignments for a user.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AdminRoleAssignment'
        nextLink:
          type: string
          nullable: true
          description: URL to retrieve the next page of results, if present.
      additionalProperties: false
    RemoveAdminRoleRequest:
      type: object
      description: Parameters for revoking a previously assigned admin role.
      required:
      - roleDefinitionId
      properties:
        roleDefinitionId:
          type: string
          description: Identifier of the admin role definition to remove from the user.
      additionalProperties: false
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ErrorMessage:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      additionalProperties: true
    AsyncOperationStatus:
      type: object
      description: Status details for a long-running user management operation.
      properties:
        id:
          type: string
          description: Operation identifier.
        name:
          type: string
          description: Friendly operation name.
        status:
          type: string
          description: Current operation state.
          enum:
          - NotStarted
          - Running
          - Succeeded
          - Failed
          - Canceled
        startTime:
          type: string
          format: date-time
          description: Operation start timestamp.
        lastUpdatedTime:
          type: string
          format: date-time
          description: Timestamp of the most recent status update.
        percentComplete:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Percentage progress reported by the service.
        targetResourceId:
          type: string
          description: Resource identifier impacted by the operation.
        targetResourceType:
          type: string
          description: Type of resource impacted by the operation.
        error:
          $ref: '#/components/schemas/Error'
      additionalProperties: false
security:
- oauth2Implicit:
  - .default
